body {
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: brown;
    text-align: center;
}

iframe {
    width: 100%;
}

img {
    width: 250px;
}